* {
    border:        none;
    border-radius: 0;
    font-family:   'Hack';
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0.1s;
    min-height: 15px;
}

#mode {
    font-style: oblique;
}

window {
    color:      #ebebeb;
    background: rgba(34, 34, 34, 0.2); /* #222222 */
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#battery {
    border-top:    2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#battery.charging {
    border-top:    2px solid #121014;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#clock.1 {
    margin:     0px 16px 0px 10px;
    min-width:  120px;
}

#clock.2 {
    margin:     0px 16px 0px 10px;
    min-width:  120px;
}
